body {
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 14px;
}

.document {
	margin: 0 auto;
	max-width: 800px;
	min-width: 400px;
	border: 1px solid #ddd;
	border-top: none;
	border-bottom: none;
	padding: 30px;
}

a {
	text-decoration: none;
	color: #28F;
}

a:hover {
	text-decoration: underline;
}

table {
	border-collapse: collapse;
}

table th {
	padding: 10px;
}

table td {
	padding: 5px;
}

dt {
	padding-bottom: 5px;
	font-weight: bold;
}

dd, .simple li {
	padding-bottom: 10px;
}

p, dd {
	text-indent: 1.5em;
}

.auto-toc li, .auto-toc ul {
}

.auto-toc ul {
	padding-top: 10px;
}

.auto-toc {
	list-style-type: none;
}
